#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

/* fonts */

/* MuseoModerno */
@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/Museo/MuseoModerno-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/Museo/MuseoModerno-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/Museo/MuseoModerno-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/Museo/MuseoModerno-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('./assets/fonts/Museo/MuseoModerno-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Fredoka */
@font-face {
  font-family: 'Fredoka';
  src: url('./assets/fonts/fredoka/Fredoka_Condensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fredoka';
  src: url('./assets/fonts/fredoka/Fredoka_Condensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fredoka';
  src: url('./assets/fonts/fredoka/Fredoka_Condensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fredoka';
  src: url('./assets/fonts/fredoka/Fredoka_Condensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DreamAvenue';
  src: url('./assets/fonts/dream/Dream-Avenue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

